# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/81/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

node_modules
.gas-snapshot
lcov.info